# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [11]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import geopandas as gpd
import requests

# Import API key
from api_keys import geoapify_key
from config import gkey
from api_keys import gmaps_key
import gmaps
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,atuona,-9.8000,-139.0333,25.12,78,0,5.55,PF,1667502894
1,1,cam ranh,11.9214,109.1591,24.98,83,20,2.06,VN,1667502895
2,2,arraial do cabo,-22.9661,-42.0278,20.92,64,75,4.63,BR,1667502896
3,3,paraiso,9.8383,-83.8656,22.95,80,100,1.18,CR,1667502898
4,4,butaritari,3.0707,172.7902,26.61,70,40,4.94,KI,1667502899

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [30]:
%%capture --no-display

# Configure the map plot
gmaps.configure(api_key=gmaps_key)

locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure()
heatlayer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=200,point_radius=3)
fig.add_layer(heatlayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [20]:
# Narrow down cities that fit criteria and drop any results with null values
# Ideal weather conditions
    # ideal temp between 21 and 27
    # wind speed less than 4.5 m/s
    # humidity < 60

city_data_df_ideal=city_data_df.loc[(city_data_df["Max Temp"]>=20)&
                                    (city_data_df["Max Temp"]<28)&
                                    (city_data_df["Wind Speed"]<4.5)&
                                    (city_data_df["Humidity"]<60)]
print(len(city_data_df_ideal))
city_data_df_ideal
# Drop any rows with null values
# YOUR CODE HERE

# Display sample data
print("There are "+str(len(city_data_df_ideal))+" cities that meet the ideal conditions")
city_data_df_ideal.head()

33
There are 33 cities that meet the ideal conditions

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
15,15,adrar,20.5022,-10.0711,26.36,10,0,4.46,MR,1667502915
26,26,albany,42.6001,-73.9662,20.32,45,0,2.49,US,1667502929
56,56,jamestown,42.0970,-79.2353,20.57,55,0,4.12,US,1667502966
57,57,ghanzi,-21.5667,21.7833,26.30,40,0,4.24,BW,1667502967
83,83,lichinga,-13.3128,35.2406,21.05,52,0,3.60,MZ,1667503002

### Step 3: Create a new DataFrame called `hotel_df`.

In [21]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df=city_data_df_ideal[["City","Country","Lat","Lng","Humidity"]].copy()

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df

                   City Country      Lat      Lng  Humidity Hotel Name
15                adrar      MR  20.5022 -10.0711        10
26               albany      US  42.6001 -73.9662        45
56            jamestown      US  42.0970 -79.2353        55
57               ghanzi      BW -21.5667  21.7833        40
83             lichinga      MZ -13.3128  35.2406        52
100           fairfield      US  41.2668 -73.3162        58
111            tessalit      ML  20.1986   1.0114        13
129            columbia      US  34.0007 -81.0348        56
152            ghorawal      IN  24.7667  82.7833        53
197             sendhwa      IN  21.6833  75.1000        37
208            asarganj      IN  25.1500  86.6833        56
218           taoudenni      ML  22.6783  -3.9836        12
242                bara      NG  10.3744  10.7288        32
247              tharad      IN  24.3961  71.6267        38
248           banikoara      BJ  11.2985   2.4386        32
270             biltine      TD  14.5333  20.9167        14
274             tazmalt      DZ  36.3868   4.3989        39
285               kitwe      ZM -12.7961  28.2477        58
320              bethel      US  41.3712 -73.4140        46
337  comodoro rivadavia      AR -45.8667 -67.5000        33
356         maine-soroa      NE  13.2114  12.0241        17
381             odweyne      SO   9.4092  45.0640        58
410                jalu      LY  29.0331  21.5482        48
424               shush      IR  32.1942  48.2436        26
429         greeneville      US  36.1632 -82.8310        50
443         santa maria      BR -29.6842 -53.8069        27
452              handia      IN  25.3833  82.1833        50
455               avera      US  33.1940 -82.5271        42
497           porbandar      IN  21.6422  69.6093        56
509            westport      US  41.1415 -73.3579        58
510              wukari      NG   7.8500   9.7833        57
524               aswan      EG  24.0934  32.9070        33
531           iranshahr      IR  27.2025  60.6848        21

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [24]:
# Set parameters to search for a hotel
radius = 10000
params = {
    "categories":"accommodation.hotel",
    "apiKey":geoapify_key,
    "limit":20
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = f'circle:{lng},{lat},{radius}'
    params["bias"] = f'proximity:{lng},{lat}'
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"

    # Make and API request using the params dictionaty
    response = requests.get(base_url,params=params)
    
    # Convert the API response to JSON format
    name_address = response.json()
    # print(name_address)
    # break
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
adrar - nearest hotel: No hotel found
albany - nearest hotel: No hotel found
jamestown - nearest hotel: DoubleTree Jamestown
ghanzi - nearest hotel: Ghanzi farmhouse
lichinga - nearest hotel: Residencial 2+1
fairfield - nearest hotel: HI-HO Motel
tessalit - nearest hotel: No hotel found
columbia - nearest hotel: Cambria Hotel Columbia Downtown, The Vista
ghorawal - nearest hotel: No hotel found
sendhwa - nearest hotel: No hotel found
asarganj - nearest hotel: No hotel found
taoudenni - nearest hotel: No hotel found
bara - nearest hotel: No hotel found
tharad - nearest hotel: No hotel found
banikoara - nearest hotel: No hotel found
biltine - nearest hotel: فندق ثلاث نجوم بلتن
tazmalt - nearest hotel: Hôtel Rabah Syphax
kitwe - nearest hotel: Milford Lodge
bethel - nearest hotel: Hampton Inn Danbury
comodoro rivadavia - nearest hotel: No hotel found
maine-soroa - nearest hotel: Maïné-Soroa
odweyne - nearest hotel: فندق المدينه
jalu - nearest hotel: فندق جالو السياحي
shush - nearest hotel: هتل آپادانا
greeneville - nearest hotel: General Morgan Inn & Conference Center
santa maria - nearest hotel: Hotel Morotin
handia - nearest hotel: No hotel found
avera - nearest hotel: No hotel found
porbandar - nearest hotel: Toran Tourist Bungalow
westport - nearest hotel: Norwalk Inn and Conference Center
wukari - nearest hotel: No hotel found
aswan - nearest hotel: Yaseen hotel
iranshahr - nearest hotel: هتل قصِر

,City,Country,Lat,Lng,Humidity,Hotel Name
15,adrar,MR,20.5022,-10.0711,10,No hotel found
26,albany,US,42.6001,-73.9662,45,No hotel found
56,jamestown,US,42.0970,-79.2353,55,DoubleTree Jamestown
57,ghanzi,BW,-21.5667,21.7833,40,Ghanzi farmhouse
83,lichinga,MZ,-13.3128,35.2406,52,Residencial 2+1
100,fairfield,US,41.2668,-73.3162,58,HI-HO Motel
111,tessalit,ML,20.1986,1.0114,13,No hotel found
129,columbia,US,34.0007,-81.0348,56,"Cambria Hotel Columbia Downtown, The Vista"
152,ghorawal,IN,24.7667,82.7833,53,No hotel found
197,sendhwa,IN,21.6833,75.1000,37,No hotel found
208,asarganj,IN,25.1500,86.6833,56,No hotel found
218,taoudenni,ML,22.6783,-3.9836,12,No hotel found
242,bara,NG,10.3744,10.7288,32,No hotel found
247,tharad,IN,24.3961,71.6267,38,No hotel found
248,banikoara,BJ,11.2985,2.4386,32,No hotel found
270,biltine,TD,14.5333,20.9167,14,فندق ثلاث نجوم بلتن
274,tazmalt,DZ,36.3868,4.3989,39,Hôtel Rabah Syphax
285,kitwe,ZM,-12.7961,28.2477,58,Milford Lodge
320,bethel,US,41.3712,-73.4140,46,Hampton Inn Danbury
337,comodoro rivadavia,AR,-45.8667,-67.5000,33,No hotel found
356,maine-soroa,NE,13.2114,12.0241,17,Maïné-Soroa
381,odweyne,SO,9.4092,45.0640,58,فندق المدينه
410,jalu,LY,29.0331,21.5482,48,فندق جالو السياحي
424,shush,IR,32.1942,48.2436,26,هتل آپادانا
429,greeneville,US,36.1632,-82.8310,50,General Morgan Inn & Conference Center
443,santa maria,BR,-29.6842,-53.8069,27,Hotel Morotin
452,handia,IN,25.3833,82.1833,50,No hotel found
455,avera,US,33.1940,-82.5271,42,No hotel found
497,porbandar,IN,21.6422,69.6093,56,Toran Tourist Bungalow
509,westport,US,41.1415,-73.3579,58,Norwalk Inn and Conference Center
510,wukari,NG,7.8500,9.7833,57,No hotel found
524,aswan,EG,24.0934,32.9070,33,Yaseen hotel
531,iranshahr,IR,27.2025,60.6848,21,هتل قصِر

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [31]:
## GMAPS OPTION

# Configure the map plot
gmaps.configure(api_key=gmaps_key)

locations=hotel_df[["Lat","Lng"]]
hotel_country = hotel_df["Country"].tolist()
hotel_name = hotel_df["Hotel Name"].tolist()

figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel name: {name}" for name in hotel_name])
# Display the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…